.ui.inverted.vertical.footer.segment.footer-setting
  .ui.container
    %h7.bold
      Visit our
      = link_to 'Facebook fanpage', 'https://www.facebook.com/mathsbeyondlimits/'
    %h7.bold
      or contact us via email:
      = mail_to 'mathsbeyondlimits@gmail.com'
    %br

  Copyright © 2017 - 2018 by <b> Marta Mościcka & Dariusz Mrok</b>. All Rights Reserved.
